<section class="col-md-<%= typeof size !== 'undefined' ? size : '6' %> mt-4 p-3">
    <h2 class="text-secondary lead mb-3">Gráfica</h2>
    <div id="chartContainer" class='chart'>
        Aguardando a que inice el streaming de tweets
    </div>
</section>